html {
    height: 100%;
}
body {
    position: relative;
    min-height: 100%;
}
.container {
    text-align: center;
}
header {
    padding: 100px 0 25px 0;
}
#logo img {
    max-height: 100px;
}

.search-result .container {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 450px;
    padding: 25px 10px;
    text-align: left;
    border: 1px solid #EEE;
}

.search-result .container section {
  margin-top: 10px;
}


.search-result .container section h1 {
  margin: 3px 0;
  font-size: 20px;
  color: #1a0dab;
}

.search-result .container section a {
  color: #006621;
}

.search-result .container section p {
  color: #545454;
  font-size: small;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 10px;
    color: #333;
}
